<div class="education">
    <div class="container1 hide-on-init" animateOnScroll animationName="animated fadeIn">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">Education</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>


    <div class="allEducationalContent" fxLayout='column'>
        <div class="educationContent" fxLayout='row'>
            <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                        <p class="heading">Education</p>
                    </div>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInUp">
                        <h1>Bachelor's Degree in <b>Computer Science</b></h1>
                        <p class="educationInfo">The Islamia University Bahawalpur, Pakistan | <b>2018-2022</b></p>
                        <h1>F.Sc <b>Pre-Medical</b></h1>
                        <p class="educationInfo">Women’s Degree College, Bahawalpur | <b>2014-2017</b></p>
                    </div>
                </div>
            </span>

        </div>
        <div class="educationContent" fxLayout='row'>
            <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                        <p class="heading">Certification</p>
                    </div>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInUp">
                        <h1> JavaScript Algorithm and <b>Data Structures</b> </h1>
                        <p class="educationInfo">freeCodeCamp | <b>Issued Jan 2021</b> </p>
                        <h1>Responsive <b> Web Design</b></h1>
                        <p class="educationInfo">freeCodeCamp | <b>Issued Jan 2021</b></p>
                    </div>
                </div>
            </span>
        </div>
        <div class="educationContent" fxLayout='row'>
            <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                        <p class="heading">Courses</p>
                    </div>
                    <div class="hide-on-init" animateOnScroll animationName="animated fadeInUp">
                        <h1> Angular 2+</h1>
                        <p class="educationInfo">Aptech computer education | <b>2019 - 2020</b> </p>
                        <h1>Graphic Designing</h1>
                        <p class="educationInfo">Aptech computer education | <b> 2020</b></p>
                        <h1>JAVA Pro</h1>
                        <p class="educationInfo">Aptech computer education | <b>2019</b></p>
                    </div>
                </div>
            </span>
        </div>

    </div>

</div>
