<div class="footer" fxLayout='column'>
    <div class="socialBar" fxLayout='row wrap' fxLayoutAlign='center center' fxShow="false" fxHide.lt-md="false">
       
        <div class="socialBarInner" fxLayout='row wrap'>
            <div fxLayoutAlign='center center'>
                <a href="https://www.linkedin.com/in/nimra2212/" target="blank">  <i class="fa fa-linkedin"></i></a> 
            </div>
          
            <div fxLayoutAlign='center center'>
                <a href="https://github.com/Nimra2212" target="blank"> <i class="fa fa-github-square"></i></a>  
            </div>
           
            <div fxLayoutAlign='center center'>
                <a href="https://stackoverflow.com/users/15035397/nimra-khan?" target="blank"><i class="fa fa-stack-overflow"></i></a>
            </div>
            
            <div fxLayoutAlign='center center'>
                <a href="https://dribbble.com/Nimra_Khan" target="blank"><i class="fa fa-dribbble"></i></a> 
            </div>
            
            <div fxLayoutAlign='center center'>
                <a href="https://medium.com/@nimrakhan2212" target="blank"><i class="fa fa-medium"></i></a> 
            </div>
           
            <div fxLayoutAlign='center center'>
                <a href="https://www.instagram.com/nimrakhan_2212/" target="blank"> <i class="fa fa-instagram"></i></a>
            </div>
           
        </div>
       
    </div>
    <div class="footerBar" fxLayoutAlign='center center'>
<p>2021 @Nimra Khan. <i class="fa fa-copyright"></i> No rights reserved.</p>
    </div>
</div>