<div class="about main" [@EnterLeave2]="'flyUp'">
   <div class="introDiv" >
        <div class="content" fxLayout='row'>
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <p>WHO I AM?</p>
                    <h1 class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">I'm Musawer <b>Ali</b> </h1>
                    <p class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                      Just a young Munda millennial navigating the tech world at Enigmatix One as a software engineer with a non-traditional tech background. @chmusawerali on Insta :)
                        I believe in the powers of a good community, discipline drives me and never give-up is my key. <br>
                         I am passionate about programming - love to talk about it!
                        <br> My code line 👇<br> <br>
                    <b class="tw1">  </b>
                       </p>
               <!-- <button *ngIf="contactMe==true" animateOnScroll animationName="animated fadeInUp" (click)="contactM()" class="btn draw-border hide-on-init animated-delay-2">Available for job!</button> -->
                <button  class="btn draw-border"><a href="https://drive.google.com/file/d/1a8CZN87SpTsyMmgPwcoxZRe42mB7D2NI/view?usp=sharing" target="blank" >My Resume</a></button>
            </div>
            </span>
        </div>

    </div>
    <div class="title hide-on-init" fxLayout='row' animateOnScroll animationName="animated fadeInRight">
        <h5 class="tw"></h5>
        <span>
            <hr></span>
    </div>
</div>
