<div class="projects main" fxLayoutAlign="center center" fxLayout='column'>
    <div class="container1">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">My Projects</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>


    <div class="coverCards" fxLayout='column'>
        <div class="cards" fxLayout='row wrap'>
            <div fxLayout='column'   >
                <mat-card class="card6 "  > </mat-card>
                <p>Office Project <br> Angular 10 <br> 2021-Present</p>
            </div>
            <div fxLayout='column' >
                <mat-card class="card1 "  > </mat-card>
                <p>TutorSquad <br> MEAN | FYP <br> 08/2020 - present</p>
            </div>

            <div fxLayout='column'   >
                <mat-card class="card2"> </mat-card>
                <p>My portfolio <br> Angular 10 <br> 2021</p>
            </div>
        </div>

        <div class="cards" fxLayout='row wrap'>
            <div fxLayout='column'   >
                <mat-card class="card3 "  > </mat-card>
                <p>Sparkle. <br> Angular 8 <br> 04/2020 - 05/2020</p>
            </div>
            <div fxLayout='column'   >
                <mat-card class="card4 "   > </mat-card>
                <p>TodoApp <br> Angular 2 + Java/NodeJs <br> Django RF + React </p>
            </div>

            <div fxLayout='column'   >
                <mat-card class="card5 "  > </mat-card>
                <p>FoodMonk <br> Angular 8 + Java <br> 01/2020 - 04/2020</p>
            </div>


        </div>
    </div>
</div>

