<div class="projects main" fxLayoutAlign="center center" fxLayout='column'>
  <div class="container1">
    <div class="line">
      <mat-divider></mat-divider>
    </div>
    <div class="text mat-typography">My Projects</div>
    <div class="line">
      <mat-divider></mat-divider>
    </div>
  </div>


  <div class="coverCards" fxLayout='column'>
    <div class="cards" fxLayout='row wrap'>
      <div fxLayout='column'>
        <mat-card class="card6 "> </mat-card>
        <p>Lightingstores <br> Laravel (Ecomrence) <br> 2020-2022</p>
        <a href="http://lightingstores.com.sa/">lightingstores.com.sa</a>
      </div>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>BuildStation (Ecomrence) <br> Laravel <br>2020-2022</p>
        <a href="https://build-station.com/">build-station.com</a>
      </div>

      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>CeramicHome (Ecomrence)<br> <br>2020-2022</p>
        <a href="https://www.ceramichome.com.sa/">ceramichome</a>
      </div>
    </div>

    <div class="cards" fxLayout='row wrap'>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>Mymovies <br>Laravel (Movies) <br>2020-2020</p>
        <a href="https://mymovies.pk/">Mymovies</a>
      </div>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>Hayaat <br>Angular (Medical) <br>2021-2021</p>
        <a href="https://hayaat.pk/">Hayaat</a>
      </div>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>IMC <br>Angular (Medical) <br>2021-2021</p>
        <a href="https://www.imc.med.sa/en">IMC</a>
      </div>


    </div>
    <div class="cards" fxLayout='row wrap'>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>Salem <br>Laravel/React (Business Agency) <br>2020-2020</p>
        <a href="http://dashboard.salem-sa.com">Salem</a>
      </div>
      <div fxLayout='column'>
        <mat-card class="card6"> </mat-card>
        <p>Other Private Projects <br> <br>2021-2021</p>
        <a href="https://www.imc.med.sa/en">Private Repo</a>
      </div>


    </div>
  </div>
</div>
