<div class="testimonials">
    <div class="container1">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">Testimonials</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>
    <div class="allCards" fxLayoutAlign='center center' fxLayout='row' fxLayout.sm='column' fxLayout.xs='column'>
        <mat-card fxFlex.gt-sm="40%" class="card1 hide-on-init" fxLayoutAlign='center center' fxLayout='row wrap'
            animateOnScroll animationName="animated bounceInLeft">
            <mat-card class="card2">

            </mat-card>
            <div>
                <p>
                    <b> Cristopher | SYSTEM ENGINEER | NASA </b> <br> <br>
                    The seller was excellent! She delivered a very well done revision and set me up with a new profile
                    that
                    matched my resume. She was able to modify the wording of what I already had and she put it in a
                    beautiful design. Great communication, great quality, and she delivered on time. I'd recommend
                    her
                    to others and will use her service again.

                </p>
            </div>
        </mat-card>
        <mat-card fxFlex.gt-sm="40%" class="card1 hide-on-init" fxLayoutAlign='center center' fxLayout='row wrap'
            animateOnScroll animationName="animated bounceInRight">
            <mat-card class="card3">

            </mat-card>
            <div>
                <p>
                    <b> James | INFORMATION SECURITY CONSULTANT </b> <br> <br>
                    Going to be honest, always skeptical about offshore/foreign developers
                    but this girl is solid, very responsive and punctual.
                    She attended to all my needs and offered the most!
                    All those expensive gigs on fiverr are not worth it at all, this girl
                    does everything you need and more. Don't see why i would need to
                    spend 3-4x the pay for the same service. Overall, 100% reccomend this girl.
                </p>
            </div>
        </mat-card>

    </div>

    <div class="container1" style="margin-bottom: 100px;">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography contact"> <a href="mailto:nimrakhan2212@gmail.com">Contact me</a></div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>

</div>