<div class="skill main">
    <div class="container1">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">Technical Skills</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="allSkillsContent">
        <div class="innerContent" fxLayout='column'>
            <div fxLayout='row' class="skillSection">
                <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <span>
                    <div class="spanDiv" fxLayout='column'>
                        <p class="hide-on-init" animateOnScroll animationName="animated fadeInLeft"><b>Front-end</b></p>
                        <div class="skills" fxLayout='row wrap'>
                            <!-- <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card10"> </mat-card>
                                <p>TypeScript</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card11"> </mat-card>
                                <p>JavaScript</p>
                            </div> -->
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card1"> </mat-card>
                                <p>Angular</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                            animationName="animated fadeInRight">
                            <mat-card class="cardrec"> </mat-card>
                            <p>React</p>
                        </div>
                        <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                        animationName="animated fadeInRight">
                        <mat-card class="cardion"> </mat-card>
                        <p>Ionic</p>
                    </div>
                            <!-- <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card3"> </mat-card>
                                <p>SCSS</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card4"></mat-card>
                                <p>HTML5</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card8"> </mat-card>
                                <p>CSS 3</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card6"> </mat-card>
                                <p>Bootstrap</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card7"> </mat-card>
                                <p>MDB</p>
                            </div> -->
                        </div>
                    </div>
                </span>
            </div>
            <div fxLayout='row' class="skillSection">
                <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <span>
                    <div class="spanDiv" fxLayout='column'>
                        <p class="p1 hide-on-init" animateOnScroll animationName="animated fadeInLeft"><b>Back-end</b>
                        </p>
                        <div class="skills" fxLayout='row wrap'>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card2"></mat-card>
                                <p>Laravel</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card5"> </mat-card>
                                <p>Django</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card9"> </mat-card>
                                <p>NodeJs</p>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div fxLayout='row' class="skillSection">
                <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <span>
                    <div class="spanDiv" fxLayout='column'>
                        <p class="p1 hide-on-init" animateOnScroll animationName="animated fadeInLeft"><b>Databases</b>
                        </p>
                        <div class="skills" fxLayout='row wrap'>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card12"> </mat-card>
                                <p>MongoDB</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card13"> </mat-card>
                                <p>MYsql</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                            animationName="animated fadeInRight">
                            <mat-card class="psql"> </mat-card>
                            <p>PostgreSQL</p>
                        </div>
                        </div>
                    </div>
                </span>
            </div>
            <div fxLayout='row' class="skillSection">
                <hr class="hide-on-init" animateOnScroll animationName="animated fadeInLeft">
                <span>
                    <div class="spanDiv" fxLayout='column'>
                        <p class="p1 hide-on-init" animateOnScroll animationName="animated fadeInLeft"><b>Others Services & Api's</b></p>
                        <div class="skills" fxLayout='row wrap'>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="gcp"> </mat-card>
                                <p>Google Cloud</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                            animationName="animated fadeInRight">
                            <mat-card class="aws"> </mat-card>
                            <p>AWS</p>
                        </div>
                        <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                        animationName="animated fadeInRight">
                        <mat-card class="card16"> </mat-card>
                        <p>Heroku</p>
                    </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card15"> </mat-card>
                                <p>Agile</p>
                            </div>

                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card17"> </mat-card>
                                <p>Git</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="card18"> </mat-card>
                                <p>Bitbucket</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="stripe"> </mat-card>
                                <p>Stripe</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="apple"> </mat-card>
                                <p>Apple Pay</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="payfort"> </mat-card>
                                <p>Payfort</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="tamara"> </mat-card>
                                <p>Tamara</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="shipox"> </mat-card>
                                <p>Shipox</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="dhl"> </mat-card>
                                <p>DHL</p>
                            </div>
                            <div fxLayout='column' fxLayoutAlign="center center" class="hide-on-init" animateOnScroll
                                animationName="animated fadeInRight">
                                <mat-card class="aramex"> </mat-card>
                                <p>Aramex</p>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
