<div class="experience main" >
    <div class="container1">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">Experience</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="experienceCover" fxLayout='column'>
        <div class="experienceAll hide-on-init" fxLayout='row' fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <h1 >Front-end Developer (Angular, React)</h1>
                    <p class="info">Enigmatix Pvt Ltd. | 2021 - Present</p>
                    <p class="info">Providing technical expertise to frontend team</p>
                  <p>Involved with bug fixing on functionality, performance and designing issues with javascript and angular.</p>
                  <p>Worked as a front-end developer and involved in the analysis of requirements, the design, development, integration, deployment, and testing.</p> 
                </div>
            </span>

        </div>

        <div class="experienceAll hide-on-init" fxLayout='row' fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <h1 >Freelancer</h1>
                    <p class="info">Fiverr | <b>Top Rated Seller</b> | 2020 - 2021</p>
                    
                    <p class="info">Providing non-tech writing services and completed 450+ orders </p>
                     <p>Got selected for “<b>gig promotion</b>” &
                        “<b>Early payout</b>” features for providing best quality service</p>   
                </div>
            </span>

        </div>
        <div class="experienceAll hide-on-init" fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
              
                    <h1>Angular<b> Developer </b> </h1>
                    <p class="info">www.invisionsourcing.com | 01/2020 - 04/2020</p>
                    
                    <p class="info">
                        Made UI design recommendations towards the development of new code or existing code </p>
                    <p> Use of asynchronous data send and retrieval patterns to develop rich in-
                        browser user interfaces</p>
                    <p>Passion for change and continual improvement and ability to effectively
                        lead/drive change</p>
                    <p>Skilled in writing reusable code, re-factoring code, and best practices with
                        JavaScript </p>
                    
                </div>
            </span>

        </div>


    </div>

</div>