<div class="experience main" >
    <div class="container1">
        <div class="line">
            <mat-divider></mat-divider>
        </div>
        <div class="text mat-typography">Experience</div>
        <div class="line">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="experienceCover" fxLayout='column'>
        <div class="experienceAll hide-on-init" fxLayout='row' fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <h1 >Full-Stack Developer (Laravel|Django|Angular|Ionic|React)</h1>
                    <p class="info">Enigmatix Pvt Ltd. | 2020 - Present</p>
                    <p class="info">Providing technical expertise to team</p>
                  <p>My role here to analysis of requirements, the design, development, integration, deployment Involved implementing new features and functionalities,bug fixing, Query and performance optimization. Code refactoring,Integrate Payment gateways and other third-party apis.</p>
                </div>
            </span>

        </div>

        <div class="experienceAll hide-on-init" fxLayout='row' fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
          <hr>
          <span>
              <div class="spanDiv" fxLayout='column'>
                  <h1 >Devbatch (Angular) </h1>
                  <p class="info">Responsible for bug fixing and implement of new features in Medical apps.</p>
              </div>
          </span>

      </div>

        <div class="experienceAll hide-on-init" fxLayout='row' fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>
                    <h1 >Freelance/Remote </h1>

                    <p class="info">Analyzed user requirements and responsible for web application architecture design and implementations</p>
                     <p>Database analysis and design</p>
                     <P>Internal Linux Server setups inside companies</P>
                </div>
            </span>

        </div>
         <!--
        <div class="experienceAll hide-on-init" fxLayout='row' animateOnScroll animationName="animated fadeInLeft" >
            <hr>
            <span>
                <div class="spanDiv" fxLayout='column'>

                    <h1>Angular<b> Developer </b> </h1>
                    <p class="info">www.invisionsourcing.com | 01/2020 - 04/2020</p>

                    <p class="info">
                        Made UI design recommendations towards the development of new code or existing code </p>
                    <p> Use of asynchronous data send and retrieval patterns to develop rich in-
                        browser user interfaces</p>
                    <p>Passion for change and continual improvement and ability to effectively
                        lead/drive change</p>
                    <p>Skilled in writing reusable code, re-factoring code, and best practices with
                        JavaScript </p>

                </div>
            </span>

        </div> -->


    </div>

</div>
